h1, h2 {
    color:pink;
}

#puppy-box{
    border:1px dashed red;
    padding:20px;
    margin:50px 5px 14px 5px;
}

.reason{
    width:30%;
    display:inline-block;
    vertical-align:top;
    border-left:10px dashed transparent;
}